@import 'primeflex/primeflex.scss';

.aside {
  @include styleclass("flex flex-column justify-content-start align-items-start px-6 py-4 bg-white min-h-screen w-3 shadow-3");
  &__avatar {
    @include styleclass("flex mb-4 mt-2 justify-content-center align-items-center");
    &_image {
      @include styleclass("relative");
      width: 50px;
      height: 50px;
      & img {
        @include styleclass("border-circle");
      }
    }
    & p {
      @include styleclass("ml-2")
    }
  }
  &__menu {
    @include styleclass("flex flex-column p-0 mt-3");
    gap: 1rem;
    &_group {
      @include styleclass("flex flex-column");
      & h4 {
        @include styleclass("text-lg font-bold m-0");
      }
      & ul {
        @include styleclass("p-0 pl-1")
      }
    }
    &_item {    
      @include styleclass("flex justify-content-center align-items-center p-5 text-base pl-1");
      & p {
        @include styleclass("ml-2")
      }
    }
  }
  &__box {
    @include styleclass("border-circle bg-green-300 p-0 flex justify-content-center align-items-center");
    width: 50px;
    height: 50px;
    
    & i {
      @include styleclass("text-white")
      

    }
    
  }
}
