@import "primeflex/primeflex.scss";

.container {
  @include styleclass("my-0 mx-auto");
}

.projects {
  @include styleclass("flex flex-column");
  &__header {
    @include styleclass("flex p-0 w-full justify-content-between align-items-center align-content-center mb-4");
    &_title {
      @include styleclass("flex justify-content-center align-items-center align-content-center text-primary");
      gap: 1rem;
      & h4 {
        @include styleclass("m-0 text-3xl")
      }
      & i {
        @include styleclass("text-2xl")
      }
    }
  }
  &__search {
    @include styleclass("flex w-full justify-content-between mb-2");
    gap: 1rem;
  }
  &__input_search {
    @include styleclass("flex w-6");
  }
  &__filters {
    @include styleclass("flex");
    gap: 1rem;
  }
  &__results {
    @include styleclass("flex flex-column mt-4");
    gap: 1rem;
  }
  &__item {
    @include styleclass("bg-white w-full shadow-1 cursor-pointer");
    & ul {
      @include styleclass("py-0 px-3 list-none flex w-full justify-content-between align-items-center align-content-center");
      gap: 1rem;
      & p {
        @include styleclass("p-0 m-0 text-center")
      }
    }
    &_value {
      @include styleclass("p-0 m-0 text-center font-bold")
    }
    &_title {
      @include styleclass("p-0 m-0 text-center text-sm")
    }
  }
}
