

@import "primereact/resources/themes/tailwind-light/theme.css"; 
 //theme
// @import "primereact/resources/themes/md-light-indigo/theme.css"; 
@import "primereact/resources/primereact.min.css";                  //core css
@import 'primeflex/primeflex.scss';
@import "primeicons/primeicons.css"; 

html,
body {
  @include styleclass("bg-gray-100");
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
